* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    border-radius: 10px;
}

body {
    background-color: #141414;
    color: #000000c7;
    display: flex;
    justify-content: center;
}

aside, header, #forecast  {
    box-shadow: 3px 3px 3px #00000055;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

main {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#2592f8, #4667fa);
    width: 90%;
    min-width: 950px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px #000000;
    border: 1px solid #00000055;
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;  
    background-color: #ffffff33;
    width: 260px;
    margin: 10px;
    padding: 20px;

}
form div{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

}

input {
    border-radius: 2px;
    font-size: 18px;
    border-style: none;
    text-align: center;
    background-color: #ffffffa6;
    box-shadow:  inset 1px 1px 3px #00000055;
}
input:focus {
    outline: none;

}

button {
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff33;
    color: #000000c7;
    border-style: none;
    box-shadow:  1px 1px 3px #00000055;
}

button:active {
    box-shadow:  inset 1px 1px 3px #00000055;
}


#previous-search {
    margin-top: 20px;
}

#clear-history {
    width: 50px;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

header {
    background-color: #ffffff33;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
}

.container-row{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-top: 10px;
    padding-right: 3%;
}

.container-row div {
    width: 50%;
}

#forecast {
    display: flex;
    background-color: #ffffff33;
    margin-top: 10px;
}
#forecast i {
    font-size: 90px;
}

.forecast-day {
    display: flex;
    justify-content: center;
    background-color: #ffffff33;
    width: 20%;
    height: 140px;
    margin: 10px;
    padding: 10px;
    box-shadow: inset 1px 1px 3px #00000055;
}
.forecast-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;  
}


.forecast-day-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
} 

#search-title {
    text-align: center;
}

#uv-index {
    border-radius: 2px;
    background-color: #00c3ff;
    padding: 0px 10px 0px 10px;
    box-shadow: inset 1px 1px 3px #00000055;
}

#city {
    font-size: 40px;
    font-weight: 600;
}
#coordinates {
    font-size: 14px;
}
#date {
    text-align: right;
}
#weather-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 160px;
}
#go {
    width: 70px; 
}
#background-image {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    font-size: 400px;
    color: #ffffff10;
}


@media (max-width: 420px) {
    main {
        flex-direction: column;
        width: 100vw;
        min-width: 0px;
        margin-top: 0px;
    }
    aside {
        width: calc(100% - 40px);
        padding: 10px;
    }
    header {
        width: calc(100% - 40px);
        font-size: 20px;
    }
    #forecast {
        flex-direction: column;
        width: calc(100% - 20px);
    }
    .forecast-day {
        width: calc(100% - 40px);
        height: 60px;
        margin: 10px;
    }
    .forecast-day-container {
        flex-direction: row;
        width: 100%; 
    }
    .forecast-day-container div {
        text-align: center;
        flex-direction: column;
        width: 100%;
    } 
    #forecast i {
        font-size: 60px;
    }
    #previous-search {
        display: none;
    }
    
    #clear-history {
        display: none;
    }
    #city {
        font-size: 30px;
    }

    #weather-icon {
        font-size: 120px;
    }
    #search {
        display: flex;

    }
    #background-image {
        margin-left: 0px;
        margin-top: 40px;
        font-size: 300px;
    }
}

@media (max-height: 420px) {
    main {
        width: 100vw;
        min-width: 0px;
        margin-top: 0px;
    }
    header {
        height: none;
        padding: 5px;
        font-size: 20px;
    }
    aside {
        font-size: 16px;  
        margin: 10px;
        padding: 5px;
    }
    input {
        font-size: 16px;
    }
    #weather-icon {
        font-size: 100px;
    }
    #forecast i {
        font-size: 60px;
    }
    .forecast-day {
        height: 90px;
        margin: 5px;
    }
    #city {
        font-size: 30px;
    }
    #previous-search button {
        font-size: 14px;
    }
    #background-image {
        margin-left: 0px;
        margin-top: 40px;
        font-size: 300px;
    }

}