* {
    /* position: relative; */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    border-radius: 10px;
    /* color: #e6e6e6; */
}

body {
    background-color: #141414;
    display: flex;
    justify-content: center;
}

aside, header, #forecast  {
    box-shadow: 3px 3px 3px #00000055;
    /* border: 1px solid #00000055; */
}

main {
    display: flex;
    flex-direction: row;
    /* background-color: #2592f8; */
    background-image: linear-gradient(#2592f8, #4667fa);
    /* background-image: linear-gradient(#24425f, #000000); */
    width: 90%;
    min-width: 950px;
    height: 500px;
    margin-top: 50px;
    
    box-shadow: 5px 5px 5px #000000;
    border: 1px solid #00000055;
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-size: 24px;  
    background-color: #ffffff33;
    width: 260px;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #000000; */

}
form div{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

}

input {
    border-radius: 2px;
    width: 99%;
    font-size: 18px;
    border-style: none;
    text-align: center;
    background-color: #ffffffaa;
}

button {
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    background-color: #ffffff33;
    border-style: none;
    box-shadow:  1px 1px 3px #00000055;
}

button:active {
    box-shadow:  inset 1px 1px 3px #00000055;
}


#previous-search {
    margin-top: 20px;
}

#clear-history {
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

section {
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff33; */
    width: 100%;
    margin: 10px;
}

header {
    /* display: flex; */
    background-color: #ffffff33;
    /* width: 100%; */
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
}

.container-row{
    display: flex;
    flex-direction: row;
    /* background-color: #fa000033; */
    /* border-style: solid; */
    padding-left: 3%;
    padding-top: 10px;
    padding-right: 3%;
}

.container-row div {
    width: 50%;
    /* border-style: solid; */
}

#forecast {
    display: flex;
    /* justify-content: flex-end; */
    background-color: #ffffff33;
    /* width: 100%; */
    margin-top: 10px;
    /* height: 60%; */
}
#forecast i {
    font-size: 90px;
}

.forecast-day {
    display: flex;
    justify-content: center;
    background-color: #ffffff33;
    width: 20%;
    height: 140px;
    margin: 10px;
    padding: 10px;
    box-shadow: inset 1px 1px 3px #00000055;
}
.forecast-day-container {
    /* background-color: #ffffff33; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  
    
}


.forecast-day-container div {
    /* text-align: center; */
    /* background-color: #ffffff33; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   
} 


#search-title {
    text-align: center;
}

#uv-index {
    border-radius: 2px;
    background-color: #00c3ff;
    /* max-width: 160px; */
    padding: 0px 10px 0px 10px;
    box-shadow: inset 1px 1px 3px #00000055;
    /* margin-left: -3%; */
}

#city {
    font-size: 40px;
    font-weight: 600;
    /* background-color: #888888; */
    /* width: 50%; */
}
#coordinates {
    font-size: 14px;
    /* background-color: #ffffff33; */
}
#date {
    /* background-color: #888888; */
    text-align: right;
    /* width: 50%; */
}
#weather-icon {
    /* border-style: solid; */
    display: flex;
    justify-content: flex-end;
    font-size: 160px;
}
#go {
    width: 70px; 
    
    /* bottom: 0px; */
    /* right: 10px; */
}


